@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <style>
            body {
                background-image: url('https://i.pinimg.com/originals/87/b4/72/87b472f25144deafd471d1476513d5dd.jpg');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
                color:white;
            }
        </style>
        <div class="screentext">

            <h1 class="display-4">Welcome to Taste Afrik</h1>

            <h2>Try Out Some African Flavors<br /> You Are What You Eat!</h2>
            
        </div>    
    </div>
