@model brendan_project1.Models.OrderViewModel

@{
    ViewData["Title"] = "Create";
}
<h1>Start Order:</h1>

<h4>Customer Info</h4>
<h1>Create</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Inventory.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory.First().Price)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Inventory)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
               
              
            </tr>
        }
    </tbody>
</table>
<h4>Orders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label asp-for="orders.FoodId" class="control-label"></label>
                <select asp-for="orders.FoodId" class="form-control" asp-items="ViewBag.FoodId" name="foodid"></select>
            </div>
            <div class="form-group">
                <label asp-for="orders.StoreId" class="control-label"></label>
                <select asp-for="orders.StoreId" class="form-control" asp-items="ViewBag.StoreId"></select>
            </div>
            <div class="form-group">
                <label asp-for="orders.CustomerId" class="control-label"> Customer Name</label>
                <select asp-for="orders.CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
          
            <div class="form-group">
                <label class="control-label">Quantity</label>
                <input class="form-control" name="quantity" type="number" min="0"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Start Order" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
